<div class="row animated fadeIn fast">
  <div class="col-12">

  </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil de usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20"

                        [formGroup]="perfilForm"
                        (submit)="actualizarPerfil()"
                        >
                    <div class="form-group">
                        <label for="nombre">Nombre de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control"
                             id="nombre"
                             formControlName="nombre"
                             [(ngModel)]="nombre"
                             [attr.disabled]="true"
                             >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo del usuario </label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email"
                            class="form-control"
                            id="email"
                            [attr.disabled]="true"
                            formControlName="email"
                            [(ngModel)]="email"
                            >
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="nombre">DNI del usuario</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="DNI"
                          placeholder="Ingrese el DNI"
                          formControlName="DNI"
                          [attr.disabled]="true"
                          [(ngModel)]="DNI"
                        />
                      </div>

                    </div>
                    <div class="form-group">
                      <label for="nombre">Telefono del usuario</label>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-phone-square" aria-hidden="true"></i>
                        </div>
                        <input
                          type="number"
                          class="form-control"
                          id="telefono"
                          placeholder="Ingrese el telefono"
                          formControlName="telefono"

                          [attr.disabled]="true"
                          [(ngModel)]="telefono"
                        />
                      </div>

                    </div>
                    <div class="form-group"  disabled>
                      <label for="nombre">Rol del usuario</label>

                      <div class="input-group">

                        <div class="input-group-addon">
                          <i class="fa fa-list" aria-hidden="true"></i>
                        </div>
                        <input
                          *ngIf="!category"
                          class="form-control input-sm"
                          id="category-input"
                          [(ngModel)]="category"
                          placeholder="Elige el rol"
                          formControlName="category"
                          required
                          [disabled]="true"
                          [attr.disabled]="true"
                        />
                        <select
                          class="form-control input-lg"
                          id="category-select"
                          [(ngModel)]="category"

                          data-placeholder="--Seleccione el rol--"
                          formControlName="category"
                          required
                          [disabled]="true"
                          [attr.disabled]="true"
                        >
                          <option value="" disabled selected>Seleccione el rol</option>
                          <option value="USER_ROLE">USER_ROLE</option>
                          <option value="ADMIN_USER">ADMIN_USER</option>

                          <!-- Agrega más opciones de categoría según tus necesidades -->
                        </select>
                      </div>

                    </div>




                </form>
            </div>
        </div>
    </div>


</div>
